#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
:root {
  --primaryBackground: #fff;
  --secondaryBackground: #000000;
  --primaryColor: #000000;
  --secondaryColor: #fff;
  --primaryNeedle: #000000;
  --secondaryNeedle: #000000;
  --buttonBlack: #000000;
  --buttonWhite: #fff;
}
body {
  background-color: var(--primaryBackground);
  color: var(--primaryColor);
  // background-color: var(--buttonBlack);
}
body.dark {
  
}
.clock-container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  .dark-mode {
    position: absolute;
    top: 20px;
    color: #fff;
    padding: 6px 13px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    background-color: var(--secondaryBackground);
  }
  .clock {
    position: relative;
    width: 200px;
    height: 200px;
    .needle {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 2px;
      transform-origin: bottom center;
    }

    .hour {
      transform: translate(-50%, -100%) rotate(20deg);
      height: 30px;
      background-color: rgb(183, 12, 12);
    }
    .minute {
      transform: translate(-50%, -100%) rotate(40deg);
      height: 38px;
      background-color: blue;
    }
    .second {
      transform: translate(-50%, -100%) rotate(70deg);
      height: 60px;
      background-color: rgb(149, 0, 255);
    }

    .center-point {
      position: absolute;
      background-color: black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      background-color: rgb(107, 107, 95);
      border-radius: 100%;
    }

    .center-point ::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 3px;
      height: 3px;
      background-color: rgb(29, 29, 3);
      border-radius: 100%;
    }
  }

  .current-time {
    padding: 30px 10px;
    .time {
      font-size: 30px;
      margin-right: 10px;
    }
    .day {
      font-size: 12px;
    }
  }
}
